@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

/* Colors
 * fresh #dd5522
 * link #f4a460
 * idk #cd853f
 * important #ffd800
 * schedule hover #fff0cc
 * schedule normal #fadfa4
 * details #fffaf0
 * background1 #ecf5ff
 * background2 #ffffde
 * blue #191970
 * blue2 #00bfff
 * stuf #fafad2
 * linky #113377
 */

:root {
  font-family: "Montserrat", sans-serif;
  font-size: 14pt;
  word-wrap: break-word;
  hyphens: auto;
}

body {
  background-color: #ffffde;
}

h1 {
  color: #900090;
  font-size: 20pt;
}
h2 {
  color: #000088;
  font-size: 16pt;
}
h3,
h4 {
  color: #000088;
  font-size: 14pt;
}

input,
textarea {
  background-color: white;
  border-style: thin groove;
}

pre,
tt,
code {
  font-family: "Courier New", Courier, monospace;
}

.schedule .item .header {
  display: flex;
  cursor: pointer;
  width: auto;
  padding: 5px 10px;
  margin: 0px;
  background-color: #fadfa4;
  align-items: left;
  text-align: left;
}

@media screen and (max-width: 800px) {
  .schedule .item .header {
    flex-direction: column;
  }
  .schedule .item .header .note {
    margin-left: 0 !important;
  }
  .schedule .item .header .date {
    margin-left: 0 !important;
  }
}

.schedule .item .header h4 {
  margin: 0;
}

.schedule .item .header .title {
  font-weight: bold;
}

.schedule .item .header .note {
  margin-left: 0.7em;
}

.schedule .item .header .date {
  margin-left: auto;
  color: #666666;
}

.details,
.details_embedded {
  background-color: #fffaf0;
  padding: 5px;
}

.details p {
  margin: 10px 5px;
}

.details_embedded p {
  margin: 10px 5px;
}

.inner {
  max-width: 52em;
  margin: 0 auto;
}

.menu {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background: #fadfa4;
  align-items: left;
  text-align: left;
}

@media screen and (max-width: 800px) {
  .menu {
    flex-direction: column;
  }
}

.menu a {
  display: block;
  color: 000088;
  padding: 8px 10px;
  text-decoration: none;
}

.menu li a:hover {
  background-color: #fff0cc;
}
