/* Zero margins. */
html, body { margin:0; padding:0; }

body
{	
	background-color: #ffffde;
	color: Black;
}

p
{
	text-align: justify
}

.bold
{
	font-weight: bold;
}

h4
{
	font-weight: normal;
	/*font-size: medium;*/
	margin: 0px;
}

.descrip
{
	padding-left: 15px;
	padding-right: 15px;
}

.schedule
{
	background-color: #fffaf0;	
	vertical-align: middle;		
	padding: 2px;
}

.schedule .item .header
{
	margin: 2px;
	cursor: pointer;
	width: auto;
	padding: 6px 15px;
	background-color: #fadfa4;		
}

.fresh
{
	color: #dd5522;
}

.important
{	
	background-color: #ffd800 !important;
}

.schedule .item .header:hover
{
	background-color: #fff0cc !important;
}

.schedule .item .header .title
{
	font-weight: bold;
}

.schedule .item .header .date
{
	float: right;
	color: #666666;
}

.schedule .item .header .note
{
	margin-left: 2em;
}

.details
{
	padding: 0px 15px;
}

.details_embedded
{
	height: 100%;
	width: 100%;
}

.details, .details_embedded
{
	background-color: #fffaf0;
}

.details p, .details_embedded p
{
	margin-top: 0.8em;
}

.pname
{
	font-weight: bolder;
}

.judge, .solution, .source
{
	margin-left: 8px;
	font-weight: lighter;
}